
## <summary>policy for vida</summary>


########################################
## <summary>
##	Transition to vida.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`vida_domtrans',`
	gen_require(`
		type vida_t, vida_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, vida_exec_t, vida_t)
')


########################################
## <summary>
##	Execute vida server in the vida domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vida_initrc_domtrans',`
	gen_require(`
		type vida_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, vida_initrc_exec_t)
')


########################################
## <summary>
##	Search vida lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vida_search_lib',`
	gen_require(`
		type vida_var_lib_t;
	')

	allow $1 vida_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read vida lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vida_read_lib_files',`
	gen_require(`
		type vida_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, vida_var_lib_t, vida_var_lib_t)
')

########################################
## <summary>
##	Manage vida lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vida_manage_lib_files',`
	gen_require(`
		type vida_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, vida_var_lib_t, vida_var_lib_t)
')

########################################
## <summary>
##	Manage vida lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vida_manage_lib_dirs',`
	gen_require(`
		type vida_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, vida_var_lib_t, vida_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a vida environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`vida_admin',`
	gen_require(`
		type vida_t;
		type vida_initrc_exec_t;
		type vida_var_lib_t;
	')

	allow $1 vida_t:process { ptrace signal_perms };
	ps_process_pattern($1, vida_t)

	vida_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 vida_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, vida_var_lib_t)

')

