policy_module(vida, 1.100.1)

########################################
#
# Declarations
#

type vida_t;
type vida_exec_t;
init_daemon_domain(vida_t, vida_exec_t)

permissive vida_t;

type vida_initrc_exec_t;
init_script_file(vida_initrc_exec_t)

type vida_conf_t;
files_type(vida_conf_t)

type vida_var_lib_t;
files_type(vida_var_lib_t)

type vida_var_run_t;
files_type(vida_var_run_t)

type vida_port_t;
corenet_port(vida_port_t)

########################################
#
# vida local policy
#
allow vida_t self:process { fork };

allow vida_t self:fifo_file rw_fifo_file_perms;
allow vida_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(vida_t, vida_conf_t, vida_conf_t)
manage_files_pattern(vida_t, vida_conf_t, vida_conf_t)

manage_dirs_pattern(vida_t, vida_var_lib_t, vida_var_lib_t)
manage_files_pattern(vida_t, vida_var_lib_t, vida_var_lib_t)
files_var_lib_filetrans(vida_t, vida_var_lib_t, { dir file })

manage_dirs_pattern(vida_t, vida_var_run_t, vida_var_run_t)
manage_files_pattern(vida_t, vida_var_run_t, vida_var_run_t)

sysnet_dns_name_resolve(vida_t)
corenet_all_recvfrom_unlabeled(vida_t)

allow vida_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(vida_t)
corenet_tcp_sendrecv_generic_node(vida_t)
corenet_tcp_sendrecv_all_ports(vida_t)
corenet_tcp_bind_generic_node(vida_t)

gen_require(`
    type vida_port_t;
')
allow vida_t vida_port_t:tcp_socket name_bind;

gen_require(`
    type vida_port_t;
')
allow vida_t vida_port_t:tcp_socket name_connect;

domain_use_interactive_fds(vida_t)

files_read_etc_files(vida_t)

miscfiles_read_localization(vida_t)

sysnet_dns_name_resolve(vida_t)

allow vida_t vida_exec_t:file execute_no_trans;
allow vida_t self:process setsched;
corecmd_exec_ls(vida_t)
corenet_tcp_connect_http_port(vida_t)
dev_read_urand(vida_t)
fs_getattr_xattr_fs(vida_t)
kernel_read_system_state(vida_t)
